{% extends 'base.html' %}
{% load static %}


{% block head %}
<title>{{ file }}</title>
<script>
var countDownDate = new Date("{{file.ended_date|safe}}").getTime();
</script>
<script type="text/javascript" src="{% static 'js/countdown.js' %}"></script>
<link rel="stylesheet" href="{% static 'css/style.css' %}" type="text/css">
{% endblock %}

{% block active_link %}
  <li><a href="{% url 'index' %}">Home</a></li>
  {% if user.is_authenticated %}
    <li class="active"><a href="{% url 'my_uploading' %}">My uploading</a></li>
  {% endif %}
{% endblock %}

{% block body %}
<center>
<h1>{{ file }}</h1>
  <div id="countdown"></div>
  <a href="{{ MEDIA_URL }}{{ file.file }}" download id="download">
    <button class="btn" id="download_btn"><i class="fa fa-download"></i>Download</button>
  </a>
</center>
{% endblock %}
