{% extends 'base.html' %}
{% load static %}

{% block head %}
<title>My uploading</title>
<script type="text/javascript" src="{% static 'js/my_uploading.js' %}"></script>

{% endblock %}

{% block active_link %}
  <li><a href="{% url 'index' %}">Home</a></li>
  {% if user.is_authenticated %}
    <li class="active"><a href="{% url 'my_uploading' %}">My uploading</a></li>
  {% endif %}
{% endblock %}

{% block body %}
<h1>My uploading</h1>


<div class="btn-group" role="group" aria-label="Basic example">
  <button type="button" class="btn btn-secondary" onclick="changeSection('sectionCurrent')">Current</button>
  <button type="button" class="btn btn-secondary" onclick="changeSection('sectionBlocked')">Blocked</button>
</div>

<table class="table table-hover table-dark" id="sectionCurrent">
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">File</th>
      <th scope="col">Created date</th>
      <th scope="col">Ended date</th>
    </tr>
  </thead>

  <tbody>
  {% for post in file_posts|dictsortreversed:"id" %}
  {% if post.is_worked %}
    <tr>
      <th scope="row"><a href="{% url 'file_page' post.id %}"> {{ post.title }}</a></th>
      <td>{{ post.file }}</td>
      <td>{{ post.created_date }}</td>
      <td>{{ post.ended_date }}</td>
    </tr>
  {% endif %}
  {% endfor %}
  </tbody>
</table>


<table class="table table-hover table-dark" id="sectionBlocked">
  <thead>
    <tr>
      <th scope="col">Title</th>
      <th scope="col">Created date</th>
      <th scope="col">Ended date</th>
    </tr>
  </thead>

  <tbody>
  {% for post in file_posts|dictsortreversed:"id" %}
  {% if not post.is_worked %}
    <tr>
      <th scope="row"><a href="{% url 'file_page' post.id %}"> {{ post.title }}</a></th>
      <td>{{ post.created_date }}</td>
      <td>{{ post.ended_date }}</td>
    </tr>
  {% endif %}
  {% endfor %}
  </tbody>
</table>
{% endblock %}

